@media (min-width: 1200px) {
  #masthead {
    height: 1200px;
  }
}

@media (max-width: 979px) {
  
}

@media (max-width: 767px) {
  iframe {
  	height: 300px;
  }
  #masthead {
    height: 380px;
  }
}